<launch>
  <!-- Charger la description URDF du robot dans ROS -->
  <param name="robot_description" command="$(find xacro)/xacro $(find robot_audassia)/urdf/simple_robot.urdf"/>

  <!-- Lancer Gazebo avec un monde vide -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
  </include>

  <!-- Lancer le noeud robot_state_publisher pour publier les transformations du robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Lancer RViz pour visualiser le robot -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_audassia)/rviz/config_rviz.rviz" required="true" />
</launch>

